.coverage-container {
    height: calc(100vh - 120px);
    width: 100vw;
    // background-color: #4286f455;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mainFont;
}